<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Home - Brand</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,700">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Kaushan+Script">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Droid+Serif:400,700,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700">
    <link rel="stylesheet" href="assets/fonts/font-awesome.min.css">
    <link rel="stylesheet" href="assets/fonts/ionicons.min.css">
    <link rel="stylesheet" href="assets/css/Login-Form-Clean.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-dark navbar-expand-lg fixed-top bg-dark" id="mainNav">
        <div class="container"><a class="navbar-brand" href="#page-top" style="margin-left: 0px;">Tinder<i class="fa fa-fire" style="font-size: 31px;"></i></a>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto text-uppercase">

                </ul>
            </div><button class="btn btn-primary" type="button" style="text-align: center;font-size: 7px;width: 119px;height: 50px;color: var(--red);"><a href="Login" style="color: var(--red);font-size: 25px;">Login</a></button>
        </div>
    </nav>
    <header class="masthead" style="background-image:url('assets/img/tinder-lite.jpg');">
        <div class="container">
            <div class="intro-text">
                <div class="intro-lead-in"><span style="color: #fec503;text-shadow: #86cfda">Welcome Tinder</span></div><button class="btn btn-primary" type="button" style="font-size: 23px;width: 305px;height: 71px;background-color:#86cfda;border-color: var(--pink);"><a href="Signup" style="text-align: center;color: #000000;width: 20px;font-size: 14px;">CREATE ACCOUNT</a></button>
            </div>
        </div>
    </header>


                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="assets/js/jquery.min.js"></script>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <script src="assets/js/agency.js"></script>
</body>

</html>